* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  background: #1e1a20;
}
/* html,
body {
  max-width: 100vw;
  overflow: hidden;
} */
.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
